     .panel
     {
         margin: 5px;
     }
     
     .panel-body {
        display: block;
    }
     .panel-meta {
        font-size: 11px;
        color: #999;
    }
     .panel .title {
        color: #2BBCDE;
        font-size: 20px;
        font-weight: bold;
        line-height: normal;
        margin: 0;
    }
     .panel .title span {
        font-size: .7em;
        margin-right: 20px;
    }
     .panel .title span.active {
        color: #5cb85c;
    }
     .panel .title span.inactive {
        color: #d9534f;
    }
     .panel .summary {
        font-size: 14px;
    }

    .panel .glyphicon{
        padding: 5px;
    }

    .btn{
        margin: 5px;
    }

    .btnStyle{
        width: 80px;
    }

    .adminPanel{
        margin-left: 10px;
    }