.bg-ownStyl {
    background-color: #2e353dd4 !important;
    color: rgb(255,255,255);
}

.eventName{
    font-size: 27px;
    font-weight: bold;
}

.joinButton{
    margin-right: 20px !important;
}

.userName{
    text-transform : capitalize;
    padding-left : 10px;
    font-size: medium;
}

.roundedImg{
    max-width : 50px;
    max-height : 50px;
    border-radius: 50%;
}
.list-group-item{
    padding-left : 10px;
}

#usersHeading{
    font-size: 18px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.85);
    padding-bottom: 5px;
}